<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My World</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <%- include('../components/navbar.ejs')%>
        <center>
            <img class="img-about img-thumbnail mt-5" src="/images/gue.jpg">
            <blockquote class="blockquote">
                <p class="padding fs-1 mt-5">"No Limit For <b>Spirit</b>,
                     No Loading for <b>Understanding</b>"</p>
            </blockquote>
            </div>
            <figcaption class="blockquote-footer">
                Create With &#10084; by <cite title="Source Title">Dedi Setiawan :)</cite>
            </figcaption>
        </center>
</body>
</html>